<div class="min-h-screen bg-gray-100 flex flex-col items-center">
  <!-- Full screen loader -->
  <app-fullpage-loader [loading]="loading"></app-fullpage-loader>

  <!-- Sticky navbar -->
  <div class="fixed top-0 w-full bg-white shadow-md z-50">
    <app-navbar></app-navbar>
  </div>

  <div class="flex flex-col lg:flex-row gap-4 sm:px-4 md:px-10 lg:px-20 w-full max-w-6xl pt-20">

    <!-- Formtasks -->
    <div class="w-full lg:w-1/3">
      <app-task-form
        [loading]="loading"
        [isEditing]="isEditing"
        [taskToEdit]="taskToEdit" (reloadData)="loadTasksFromLocalStorage()"
        (loadingChange)="onLoadingChange($event)"
      >
      </app-task-form>
    </div>

    <!-- Tasks section -->
    <div class="w-full lg:w-2/3 h-screen overflow-y-auto">
      <div *ngIf="tasks.length > 0" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        <div
          *ngFor="let task of tasks"
          class="bg-white p-6 rounded-lg shadow-lg relative border-l-4"
          [ngClass]="task.completed ? 'border-green-500' : 'border-yellow-500'"
        >
          <app-task-card
            [task]="task"
            (loadingChange)="onLoadingChange($event)"
            (reloadData)="loadTasksFromLocalStorage()"
            (editTask)="onEditTask($event)"
          >
          </app-task-card>
        </div>
      </div>

      <div *ngIf="tasks.length > 0" class="h-10"></div>

      <p *ngIf="tasks.length === 0" class="text-gray-600 text-center mt-6 flex flex-col items-center">
        <mat-icon class="text-blue-400">task_alt</mat-icon>
        <span class="text-lg font-semibold">¡Todo está en orden!</span>
        <span class="text-sm text-gray-500">No hay tareas pendientes en este momento.</span>
      </p>
    </div>
  </div>
</div>